.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white url('elka.jpeg') 100% 100% no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    background-color: green;
    display: block;
    padding: 1rem;
    font-family: cursive;
    margin-top: 0;
}
